cupcc
*.dSYM
*.vscode
*.idea
*.DS_Store
test/*

*.yasm
*.o
*.out

!bootstrap
!bootstrap/linux.yasm
!bootstrap/macos.yasm

build

# We ignore the examples by default since it's the playground for testing,
# and it gets annoying on git.
examples

