cupcc
*.dSYM
*.vscode
*.idea
*.DS_Store

*.nasm
*.o
*.out

!bootstrap
!bootstrap/linux.nasm
!bootstrap/macos.nasm

build

# We ignore the examples by default since it's the playground for testing,
# and it gets annoying on git.
examples

